# SPDX-FileCopyrightText: 2023 Sidings Media
# SPDX-License-Identifier: MIT

# Server Settings
BIND_ADDR="[::]:3000"
TRUSTED_PROXIES="192.0.2.1,192.0.2.2,2001:db8::1,2001:db8::2"
GIN_MODE=release # Never run debug in production!

# Ticket Server Settings
TICKET_API_URL="https://tickets.example.com/api/tickets.json"
TICKET_HEALTH_URL="https://tickets.example.com"
TICKET_API_KEY="abc123"
TICKET_SHOULD_ALERT=true
TICKET_SHOULD_AUTORESPOND=true
TICKET_SOURCE="API"
